
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background-color: hsl(300, 2%, 8%);
    font-family: "Roboto Slab", serif;
    scroll-behavior: smooth;

}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 1.75rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    width:100%;
    height: 0;
}
.logo{
    width: 40px;
    position: fixed;
}
.toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toggle-icon{
    color: white;
    cursor: pointer;
}
.icon-list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.list-item i{
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    display: inline-block;
}
.list-item i:hover{
    transform: scale(1.2);
   
    color: rgba(244, 8, 150, 0.64);
}
/*THE SIDE MENU*/
#side-menu{
    width: 400px;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}
#side-menu.display{
    transform: translateX(0);
}
/*THE MENU LIST*/
.menu-list{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    position: relative;
    overflow: hidden;
  
}
.menu-list li{
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}
.menu-list .menu-item a{
    color: white;
    font-weight: bold;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}
.top a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
.top i{
    color: white;
    font-size: 1.75rem;
    cursor: pointer;
}
.menu-item {
    display: inline-block; 
    cursor: pointer;
    position: relative;
}

.menu-item-1 img {
    width: 20px;
    vertical-align:middle; 
    padding-bottom: 5px;
    filter: brightness(0) invert(1); 
}
.arrow{
    color: white;
}
/*THE SUB-MENU*/
.sub-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
    
}
.sub-menu.show{
    opacity: 1;
    max-height: 200px;
    padding-block: 10px;
}
.sub-menu a{
    color: hsl(0, 1%, 56%);
    font-weight: bold;
    font-size: .95rem;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.nav-icons{
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    font-size: 1.35rem;
    width: 100%;
}
.nav-icons li{
    cursor: pointer;
    color: white;
}
.navBtn{
    display: flex;
    align-items: c;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
}
.btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.10rem;
    color: white;
}
.btn-1{
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px;
    transition: all .3s ease-in;
}
.btn-1:hover{
    background-color: blue;
    color: rgb(244, 8, 149);
    border: 1px solid white;
}

/*THE HERO SECTION*/
.background-hero{
    background-image: url(imges/Tv\ girl.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: blur(15px); 
    position: absolute;
    z-index: -1;
}  

.hero{
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    z-index: 1;
}
.hero-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-inline: 10px;
}
.hero-content h1{
    font-size: 2rem;
}
.container{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}
.hero-img{
    position: relative;
    gap: 200px;
    position: relative;
    display: flex;                
    flex-direction: column;       
    align-items: center;         
    text-align: center;
    width: 400px;
}
.fayrouz-img{
    width: 100%;        
    min-width: 200px;   
    max-width: 700px;   
    height: auto;     
}
.side-description{
    transform: rotate(270deg);
    position:absolute;
    left: -10px;
    bottom: 0;
    font-size: .95rem;
    color: white;
    transform-origin: bottom left; 

}
.btn-first{
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
}
.btn-hero{
    background-color: white;
    color: black;
    transition: all 0.3s ease-in;
}
.btn-hero:hover{
    border: 1px solid black;
    background-color: blue;
    color: rgb(244, 8, 149);
}
/*THE AUDIO SECTION*/

.audio{
    margin-top: 50px;
}
.audio-heading, .play-list{
    width: 80%;
    margin: auto;
    color: white;
    font-size: 2rem;
}
.channels{
    border: 1px solid white;
    width: fit-content;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.channels i{
    border-right: 1px solid white;
    font-size: 20px;
    color: white;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}

.channels i:last-of-type{
    border: none;
}
.audio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.left{
    display: flex;
    align-items: center;
    column-gap: 10px;
   
}
.left {
    font-size: 2rem;
    color: white;
}
.left i{
    cursor: pointer;
}
.left p{
    font-size: 1.20rem;
    letter-spacing: 5px;
}
.left .name{
    font-size: .75rem;
 
}
.play-list{
    margin-top: 50px;

}
.right{
    color: white;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.right i{
    cursor: pointer;
}
/*THE VIDEO SECTION*/
.video-container{
    width: 80%;
    height: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 50px 100px;
    background-image: url(imges/Tv\ girl.jpeg);
}
.video h2{
    width: 80%;
    margin: auto;
    color: white;
    font-size: 3rem;
    margin-block: 50px;
}
/*THE OTHER ALBUMS SECTION*/
.others h2{
    margin: auto;
    width: 80%;
    color: white;
    font-size: 3rem;
    margin-block: 50px;
}
.albums{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.album-container img{
    width: 200px;
    max-width: 250px;
    min-width: 10px;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}
.album-container img:hover{
    background-color: pink;
    transform: scale(1.1);
}
.album-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: white;
}
.album-container span{
    font-size: .75rem;
}
/*THE FOOTER SECTION*/
.footer{
    margin-top: 50px;
}
.footer-container{
    margin: auto;
    width: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
}
.footer-list{
    display: flex;
    gap: 10px;
   
}
.footer-list a{
color: white;
font-size: 1rem;
}
.footer-list a i{
    color: white;
    font-size: 1.30rem;
    }

/*==================================
           MEDIA QUERIES
====================================*/
@media (max-width: 840px) {
    
/*THE HERO SECTION*/

h2{
    font-size: 1.75rem !important;
}

.hero-content h1{
    margin: 0;
}

.container{
    flex-direction: column;
    width: 70%;
}
.hero-img{
    width: 300px;
}

/*THE AUDIO SECTION*/

.audio-heading, .play-list{
    width: 80%;
}
.channels{
    gap: 5px;
}
.channels i{
    font-size: 20px;
    padding: 10px 15px 10px 10px;
}

.left {
    font-size: 1.50rem;
}
.left i{
    font-size: 2rem;
}
.left p{
    font-size: .90rem;
    letter-spacing: 1px;
}
.left .name{
    font-size: .75rem;
}
.right{
    font-size: 1rem;
    column-gap: 15px;
}

/*THE VIDEO SECTION*/
.video-container{
    width: 70%;
    height: 500px;
}
.video h2{
    width: 70%;
}
/*THE OTHER ALBUMS SECTION*/
.others h2{
    margin: auto;
    width: 70%;
    color: white;
    margin-block: 50px;
}
.albums{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.album-container img{
    width: 200px;
    max-width: 250px;
    min-width: 10px;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}
.album-container img:hover{
    transform: scale(1.1);
}
.album-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: white;
}
.album-container span{
    font-size: .75rem;
}
/*THE FOOTER SECTION*/
.footer-container{
    width:90%;
}
.footer-container p{
    font-size: .75rem;
}

.footer-list a{
    font-size: 1rem;
}
.footer-list a i{
    font-size: 1.10rem;
}

}

@media (max-width:460px) {
.list-item i{
    font-size: 20px;
}
/*THE HERO SECTION*/
h2{
    font-size: 1.45rem !important;
}
.container{
    display: flex;
    align-items: center;
   
}
.hero-img{
    width: 230px;
}

.hero-btn{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}
/*THE AUDIO SECTION*/
.audio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.channels{
    border: 1px solid white;
    width: fit-content;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}
.channels{
    gap: 5px;
}
.channels i{
    font-size: 15px;
    padding: 10px 15px 10px 10px;
}

.left {
    font-size: 1.20rem;
}
.left i{
    font-size: 1.50rem;
}
.left p{
    font-size: .65rem;
    letter-spacing: 1px;
}
.left .name{
    font-size: .65rem;
}
.right{
    font-size: .90rem;
    column-gap: 15px;
}
/*THE VIDEO SECTION*/
.video-container{
    height:300px;
}
/*THE FOOTER SECTION*/
.footer-container{
    width:90%;
    flex-direction: column;
}


}